#head_part{
    display: flex;
}

#head_part > h3{
    flex-grow: 3;
}

.wrapper{
    gap: 1em;
    width: 98%;
    margin-bottom: 2%;
    margin-left: 1%;
    padding: 1em;
    border-radius: 0.5em;
}

#table_scroll{
    height: 75vh;
    overflow-y: scroll;
}