<div class="w3-panel bg-dark" id="registerPanel">
    <div class="container">

        <h2>Регистрация</h2>
        <p>Моля, попълнете всички полета от формата за регистрация:</p>
        <p type="hidden" id="status"></p>


        <!-- <label for="name">Име:</label> -->

        <div id="mainInputPanel">
            <div class="inputField">
                <i class="fa fa-user fa-lg icon_class"></i>
                <input type="text" placeholder="Име" name="name" id="name" required>
            </div>

            <div class="inputField">
                <i class="fa fa-at fa-lg icon_class"></i>
                <input type="text" placeholder="Имейл" name="email" id="email">
            </div>

            <div class="inputField">
                <i class="fa fa-lock fa-lg icon_class"></i>
                <input type="password" placeholder="Парола" name="password" id="password">

            </div>

            <div class="inputField">
                <i class="fa fa-lock fa-lg icon_class"></i>
                <input type="password" placeholder="Повторете паролата" name="password-repeat" id="password-repeat" required>
            </div>
            <button (click)="registerBtn()" type="submit" class="registerbtn button-green">Регистрация</button>

            <p class="has_account"><a href="/login">Имате вече акаунт? Влезте тук</a>.</p>

        </div>
    </div>

</div>