
 input[type=text]{

    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border: 0.1em solid;
    background:transparent;
    border-radius: .5em;
    border-color: white;
    color: white;
    text-align: center;
  }
  
  input[type=text]:focus {
    outline: none;
    border-color: yellowgreen;
    color: white
  }
  
  #create_group_panel
  {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
  }

  .container {
    padding: 0.8em;
  }

  .create_group {
    color: white;
    padding: 0.6em 0.6em;
    margin: 0.6em 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: .5em;
  }
