
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Bootstrap</strong>
      <small>Сега</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="toast_content"></p>
    </div>
  </div>
</div>


<div id="content" class="grid-container panel">
  <div id="code_buttons" class="grid-item">
    <select id="language-selector" (change)="changeLanguageSelect()" class="form-select bg-dark"
            aria-label="Default select example">
      <option value="cpp">C++</option>
      <option value="csharp">C#</option>
      <option value="java">Java</option>
      <option value="python">Python3</option>
    </select>

    <input class="form-control" type="text" id="filename_input" value="filename"/>

    <button class="button-green buttons" (click)="executeCode()">
      <p>
        <i class="bi bi-play-fill"></i>
        Изпълни код
      </p>

    </button>

    <button class="button-green buttons" (click)="show_github_gist_modal()">
      <p>
        <i class="fab fa-github"></i>
        Запази в Github Gist
      </p>

    </button>



    <button class="button-green buttons" (click)="download_code()">
      <p>
        <i class="fas fa-download"></i>
        Изтегли код
      </p>

    </button>


    <button class="button-secondary buttons" (click)="upload_code('Моля изчакайте, решението ви се качва.')">
      <p>
        <i class="bi bi-save-fill"></i>
        Запази в решения
      </p>
    </button>
  </div>

  <div id="tabs" class="grid-item tab">
      Вход/Изход
  </div>

  <div id="monaco_editor" class="grid-item">
    <ngx-monaco-editor class="editor_test_class" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
  </div>

  <div id="options" class="grid-item tab">
    <div id="output">
      <div class="form-outline">
        <label class="form-label" for="stdout">Изход:</label>
        <textarea class="form-control" id="stdout" rows="8" readonly></textarea>
      </div>

      <div class="form-outline">
        <label class="form-label" for="stdin">Вход:</label>
        <textarea class="form-control" id="stdin" rows="8"></textarea>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="github_gist_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_label">Запазване в Github Gists</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="github_gist_modal" class="modal-body">

        <div *ngIf="has_github_token && !should_wait" id="github_has_token">
          
          <div id="modal_body_text">
            <p>Текущият код ще бъде качен като Github Gist във вашият профил.</p>
            <br>
            <label for="github_desc">Описание: </label>
            <textarea type="text" rows=4 id="github_desc"></textarea>
            <label for="public_checkbox">Публичен: <input id="public_checkbox" type="checkbox"></label>
          </div>
        </div>

        <div *ngIf="!has_github_token  && !should_wait">
          <p>Трябва да зададете вашият Github токен преди да използвате функцията Github Gists.</p>
          <br>
          <p>Това можете да го направите от профил страницата.</p>
        </div>

        <div *ngIf="should_wait"><p id="wait_text">Моля изчакайте...</p></div>


      </div>
      <div class="modal-footer">
        <button *ngIf="has_github_token && !should_wait" (click)="create_github_gist()"
          class="gr_btn button-green">Запази</button>
      </div>
    </div>
  </div>
</div>