
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Bootstrap</strong>
      <small>Сега</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="toast_content"></p>
    </div>
  </div>
</div>


<div id="content" class="grid-container panel">
  <div id="code_buttons" class="grid-item">
    <select id="language-selector" (change)="changeLanguageSelect()" class="form-select bg-dark"
            aria-label="Default select example">
      <option value="cpp">C++</option>
      <option value="csharp">C#</option>
      <option value="java">Java</option>
      <option value="python">Python3</option>
    </select>

    <input class="form-control" type="text" id="filename_input" value="filename"/>

    <button class="button-green buttons" (click)="executeCode()">
      <p>
        <i class="bi bi-play-fill"></i>
        Изпълни код
      </p>

    </button>


    <button class="button-secondary buttons" (click)="upload_code('Моля изчакайте, решението ви се качва.')">
      <p>
        <i class="bi bi-save-fill"></i>
        Запази
      </p>
    </button>

    <button class="button-secondary buttons">
      <p>
        <i class="bi bi-share-fill"></i>
        Сподели
      </p>
    </button>
  </div>

  <div id="tabs" class="grid-item tab">
      Вход/Изход
  </div>

  <div id="monaco_editor" class="grid-item">
    <ngx-monaco-editor class="editor_test_class" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
  </div>

  <div id="options" class="grid-item tab">
    <div id="output">
      <div class="form-outline">
        <label class="form-label" for="stdout">Изход:</label>
        <textarea class="form-control" id="stdout" rows="8" readonly></textarea>
      </div>

      <div class="form-outline">
        <label class="form-label" for="stdin">Вход:</label>
        <textarea class="form-control" id="stdin" rows="8"></textarea>
      </div>
    </div>
  </div>

</div>
