<div id="wrapper">
    <div id="text_part">
        <h1>АТИНА</h1>
        <h3>oнлайн система за програмиране</h3>
        <p>     Среда за
            програмиране и решаване на задачи онлайн. Системата е пригодена за
            използване, както от училища, така и от потребители, които просто искат да
            решават задачи.</p>

        <div>
            <p>Брой задачи в системата: <b>{{active_problems}}</b></p>
            <p>Поддържани езици:</p>
            <div id="images">
                <img src="../../../assets/frontpage_logos/csharp.png">
                <img src="../../../assets/frontpage_logos/cpp.png">
                <img src="../../../assets/frontpage_logos/python.png">
                <img src="../../../assets/frontpage_logos/java.png">
            </div>
        </div>
    </div>


    <div id="image_part">
        <img src="../../../assets/logo2.png">
    </div>



</div>