@import '../../styles';
#main{
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: $accent-green;
  align-items: center;
}

#logo{
  padding-left: 0.25em;
  padding-right: 0.25em;
  width:3%;
}

.menu-item, .profile-item{
  height: 100%;
  padding: 0.9em 1em 0.9em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.profile-item:hover{
  color: white;
}

.menu-item:hover{
    color: white;
    background-color: #477731;
    cursor: pointer;
}


.right_part{
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.right_part > img{
  padding-right: 0.5em;
}
  