<div class="main">
  <div id="top_bar">


    <h3>Оценяване на решение:</h3>

    <div class="selector">
      <p for="submission_time">Решение от: </p>
      <select (change)="change_submission()" id="submission_time" class="selector_box form-select bg-dark">
        <option *ngFor="let sub of submissions; index as i" value="{{i}}">{{sub.timestamp}}</option>
      </select>
    </div>

    <button (click)="comment_problem()" class="gr_btn button-secondary">Коментар</button>

    <button (click)="grade_problem()" class="gr_btn button-green">Оцени</button>
  </div>


  <div id="second_bar">
    <p>Автор: <b>{{this.author_name}}</b></p>
    <p>Задача: <b>{{this.problem_name}}</b></p>
    <p>Език: <b>{{this.current_submission.get_language()}}</b></p>
  </div>

  <div id="main_part">
    <div id="monaco_editor">
      <ngx-monaco-editor id="m_editor" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)">
      </ngx-monaco-editor>
    </div>
    <div id="problem_tests" class="tabcontent panel-darkbg">
      <h4 id="test_tab_message2"></h4>
      <textarea readonly="true" id="error_textarea" style="display: none;"></textarea>
      <p id="success_message">Всички тестове преминаха успешно.</p>
      <ul *ngIf="show_tests">
        <div id="tests" class="accordion">
          <div class="accordion-item" *ngFor="let test of current_submission.tests_failed">
            <h2 class="accordion-header" id="test-head-{{test.get_test_num()}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                attr.data-bs-target="#test-info-{{test.get_test_num()}}" aria-expanded="false"
                attr.aria-controls="test-info-{{test.get_test_num()}}">
                <div class="test_info_field">
                  <h5>Тест {{test.get_test_num()}}</h5>
                  <div class="test_info_field_right">
                    <i class="fa fa-times fa-lg icon_class test_failed"></i>
                    <h6>Тестът не премина успешно.</h6>
                  </div>
                </div>
              </button>
            </h2>
            <div id="test-info-{{test.get_test_num()}}" class="accordion-collapse collapse"
              attr.aria-labelledby="test-head-{{test.get_test_num()}}" data-bs-parent="#tests">
              <div class="accordion-body">
                <div id="test_box">
                  <div>
                    <div class="test_field">
                      <p>Изпълнен вход: </p>
                      <textarea readonly="true">{{test.get_input()}}</textarea>
                    </div>
                    <div class="test_field">
                      <p>Разлика: </p>
                      <textarea readonly="true">{{test.get_diff()}}</textarea>
                    </div>
                  </div>
                  <div>
                    <div class="test_field">
                      <p>Получен изход: </p>
                      <textarea readonly="true">{{test.get_output()}}</textarea>
                    </div>
                    <div class="test_field">
                      <p>Очакван изход: </p>
                      <textarea readonly="true">{{test.get_expected_output()}}</textarea>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div *ngIf="no_submissions">
    <p>Потребителят няма предадени решения.</p>
  </div>

  <div class="modal fade" id="result_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_label">Поставяне на оценка</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="grade_body_2" style="display: none;">
            <p>Успешно е поставена оценка към решението.</p>
          </div>

          <div id="grade_body_1">
            <p>Моля поставете оценка на решението от 1 до 10.</p>

            <div id="grade_box">
              <label for="grade">Оценка: </label>
              <select id="grade" class="selector_box form-select bg-dark">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!graded" (click)="set_solution_grade()" class="gr_btn button-green">Оцени</button>
          <button *ngIf="graded" (click)="goto_groups()" class="gr_btn button-gray">Готово</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="comment_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_label">Оставяне на коментар</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="comment_body_2" style="display: none;">
            <p>Успешно е поставен коментар към решението.</p>
          </div>

          <div id="comment_body_1">
            <p>Тук можете да поставите коментар за автора на решението.</p>
            <label for="comment">Коментар: </label>
            <br>
            <textarea id="comment"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!comment_posted" (click)="set_comment_to_problem()"
            class="gr_btn button-green">Постави</button>
        </div>
      </div>
    </div>
  </div>
</div>