/* You can add global styles to this file, and also import other style files */

$color-black: #07020D;
$color-blue: #5DB7DE;
$color-white: #F1E9DB;
$color-gray: #716A5C;
$color-dark-blue: #19647E;

$primary: #6AB547;

$form-select-indicator-color: white;

$accordion-icon-active-color: white;
$accordion-icon-color: white;

$accordion-color: #202225;
$accordion-bg:  #202225;

$accordion-button-color:  #202225;
$accordion-button-bg: #202225;

$accordion-button-active-color:  #202225;
$accordion-button-active-bg: #202225;

@import "../node_modules/bootstrap/scss/bootstrap";

$editor-bg: #1E1E1E;


//Трябва да се обсъдят цветовете
$background-color: #030027;
$panel-color: #DFE0E2;
$accent-green: #6AB547;
$red_color: #f44336; 
$button-gray: #202225;
$button-light-gray: #313131;




body {
  background-color: $color-black;
  color: $color-white
}

textarea {
  background-color: $editor-bg;
  color: $color-white;
}

input[type=checkbox]{
  color: $accent-green;
}


.button-green {
  background-color: $accent-green;
  color: white;
}

.button-gray{
  background-color: $button-light-gray;
  color: white;
}

.button-red{
  background-color: $red_color;
  color: white;
}

a {
  color: rgba(160, 160, 160);
}
