/* You can add global styles to this file, and also import other style files */

$color-black: #07020D;
$color-blue: #5DB7DE;
$color-white: #F1E9DB;
$color-gray: #716A5C;
$color-dark-blue: #19647E;

$primary: #6AB547;

//Bootstrap dropdown select arrow color
$form-select-indicator-color: white;

//Bootstrap accordian custom colors
$accordion-icon-active-color: white;
$accordion-icon-color: white;
$accordion-color: #202225;
$accordion-bg:  #202225;
$accordion-button-color:  #202225;
$accordion-button-bg: #202225;
$accordion-button-active-color:  #202225;
$accordion-button-active-bg: #202225;

//Bootstrap toast colors
$toast-background-color: #202225;
$toast-header-background-color: #6AB547;
$toast-header-color: white;

//Bootstrap modal colors
$modal-content-bg: #202225;
$modal-header-border-color:#202225;
$modal-footer-border-color:#202225;

@import "../node_modules/bootstrap/scss/bootstrap";

$editor-bg: #1E1E1E;


//Трябва да се обсъдят цветовете
$background-color: #030027;
$panel-color: #DFE0E2;
$accent-green: #6AB547;
$red_color: #A52B2B;
$button-gray: #202225;
$button-light-gray: #313131;
$secondary-color: #3b3162;



body {
  background-color: $color-black;
  color: $color-white;
  height: 100%;
}

textarea {
  background-color: $editor-bg;
  color: $color-white;
  height: 100%;
}

input[type=checkbox]{
  color: $accent-green;
}

.button-green {
  background-color: $accent-green;
  color: white;
}

.button-gray{
  background-color: $button-light-gray;
  color: white;
}

.button-secondary{
  background-color: $secondary-color;
  color: white;
}

.button-red{
  background-color: $red_color;
  color: white;
}

.panel-darkbg{
    background-color: #202225;
}

.pic_thumbnail{
  height: 3em;
}

.panel-gray{
  background-color: $button-light-gray;
}

a {
  color: rgba(160, 160, 160);
}
